@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Doto:wght@100..900&family=Rubik+80s+Fade&family=VT323&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background-color: #122333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "left top right"
        "left main right"
        "left footer right";
    min-height: 100vh;
    overflow-y: visible;
}

.container *{
    color: lightcyan;
    font-family: "VT323", monospace;
    font-size: 1.1em;
}

header {
    grid-area: top;
    align-content: center;
    position: sticky;
    top: 0;
}

.right {
    grid-area: right;
    background-color: black;
}

footer {
    grid-area: footer;
    text-align: center;
}

footer a{
    text-decoration: none;
}

.left {
    grid-area: left;
    background-color: black;
}

main {
    grid-area: main;
}

nav {
    min-height: 100px;
    text-align: center;
    background-color: #122333;
}

nav a{
    align-self: center;
    padding: 0.25em;
    margin: 1em;
    z-index: 1000;
}

nav a:hover{
    background-image: -moz-linear-gradient(skyblue, lightcyan);
    color: black;
}

nav #logo{
    font-size: 3em;
    text-decoration: none;
    font-weight: bold;
}

#navSep{
    height: 2em;
    background-image: linear-gradient(#111223, transparent);
}

fieldset{
    width: 33vw;
    margin: 2em auto;
    padding: 0.25em;
    border: 1px solid lightcyan;
    scroll-margin-top: 10em;
}

legend{
    padding: 0.25em;
}